<!DOCTYPE html>
<html>
    <head>
        <title>Vjezba 8</title>
    </head>
    <body>
        <a href="/staff">Staff page</a><br>
        <a href="/admin_view">Admin page</a><br><br>

        <a href="/register"> Registration </a><br>
        <a href="/login">Login</a><br>
        <a href="/logout"> Logout </a><br>
        <a href="/home"> Home </a><br><br>
        <a href="/projection_view">All projections</a>
        <a href="/my_tickets">My tickets</a></p>

        
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>